body,
h1, h2, h3, h4, h5, h6,
.ui.header {
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 600px;
  padding: 1em 0em;
  background-color: #ffc107;
}
.ui.vertical.masthead.segment {
  margin-top: 52px;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.ui.fixed.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h2.ui.header {
  margin-top: 86px;
  margin-bottom: 0em;
  font-weight: normal;
  /*font-size: 1.7em;*/
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 2px;
  color: #212121;
}
.masthead h1.ui.header {
  font-size: 46px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #212121;
}
.masthead h3.ui.header {
  font-size: 19px;
  line-height: 1.47;
  color: #212121;
  font-weight: 400;
}

.ui.vertical.stripe {
  padding: 8em 0em;
  border: 0;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.ui.fixed.menu {
  align-items: center;
  height: 60px;
}

.omnico-logo {
  width: 140px;
  height: 30px;
  object-fit: contain;
  margin-right: 25px;
}

.ui.fixed.menu .item {
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.ui.fixed.menu .item:not(.right) {
  padding: 10px 10px 0;
}

.ui.fixed.menu .toc.item {
  display: none;
  font-size: 22px;
  padding: 20px;
}

.ui.card {
  border: 0;
  box-shadow: none;
  background: transparent;
}

.ui.card .image {
  background-color: transparent;
}

.ui.card .content {
  border: 0;
}

#features .ui.card .image {
  background-color: #ffc107;
  width: 150px;
  margin: auto;
  border-radius: 100% !important;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#features .ui.card .image img {
  height: 80px;
  width: auto;
  border-radius: 0;
}

#platforms .ui.card .image {
  background-color: transparent;
  width: 100px;
  margin: auto;
  border-radius: 100% !important;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#platforms .ui.card .image img {
  height: 100px;
  width: auto;
  border-radius: 0;
}

#footer,
#platforms {
  background-color: #f1eeec;
}

#connect {
  background-image: linear-gradient(to bottom, #e6e2df, #ffffff);
}

.image.column img {
  margin: auto;
}

.headers {
  width: 51%;
}

.masthead {
  overflow: hidden;
}

.masthead::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 0;
  width: 1410px;
  height: 70px;
  background-image: linear-gradient(to bottom, #ffa000, rgba(255, 160, 0, 0)), linear-gradient(#ffc107, #ffc107);
}

.header-image {
  position: absolute;
  z-index: 1;
  width: 47%;
  top: 56px;
  right: 20px;
}

.header-image img {
  width: 100%;
}

.fixed.menu {
  box-shadow: none;
}

.fixed.menu .item.active {
  background-color: transparent;
  font-weight: 500;
  color: #6435c9;
}

#footer {
  padding: 90px 0 40px;
}

#footer h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 20px;
  color: #212121;
}

#footer h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
  text-align: center;
  color: #212121;
  margin: 0 0 40px;
}

#footer .ui.button {
  margin: 0 0 83px;
}

@media only screen and (max-width: 1100px) {
  .ui.fixed.menu .right.item {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu .item,
  .ui.fixed.menu .menu {
    display: none;
  }

  .ui.fixed.menu .toc.item {
    display: flex;
    font-size: 22px;
    padding: 20px;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}